__Задание 1__

Создайте свой класс и с помощью pickle запишите его в файл под название "MyClassInFile"

In [29]:
import pickle
class My_class:
    testData = {'Numbers': [1, 2, 3], 'Names': ('Irina', 'Alina', 'Marina')}
    def test(testData):
        return testData
TD = My_class()
print(pickle.dumps(TD))
with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(TD, f)
with open('MyClassInFile.pickle', 'rb') as f:
    data_new = pickle.load(f)
print(data_new)

b'\x80\x03c__main__\nMy_class\nq\x00)\x81q\x01.'
<__main__.My_class object at 0x000001BAE9828548>

__Задание 2__

С помощью shelve создайте файл "MyFavoriteMovies", и запишите в него названия своих любимых фильмов. В качестве ключей используйте имена режисеров

In [31]:
import shelve
 
with shelve.open("MyFavoriteMovies") as Movies:
    Movies["Гайдай"] = 'Кавказская пленница'
    Movies["Меньшов"] = "Розыгрыш"
    Movies["Фрэнк Дарабонт"] = "Зелёная миля"
with shelve.open("MyFavoriteMovies") as Movies:
    for key in Movies:
        print(key," - ", Movies[key])

Гайдай  -  Кавказская пленница
Меньшов  -  Розыгрыш
Фрэнк Дарабонт  -  Зелёная миля

__Задание 3__

Создайте таблицу employees и заполните ее данными, как на картинке. Повысьте зарплату на 1000 долларов всем работикам младше 30 лет и удалите из таблицы работников старше 40

In [32]:
import sqlite3
conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE employees (name text, salary$ text, age text)")

In [33]:
empl = [('John Doe', '5000', '35'),
          ('Marie Paige', '6000', '25'),
          ('Megan Flores', '3000', '29'),
          ('Harmony Simmons', '4000', '42')]

cursor.executemany("INSERT INTO employees VALUES (?,?,?)", empl)
conn.commit()

In [35]:
sql = "SELECT rowid, * FROM employees ORDER BY age"
cursor.execute(sql)

In [36]:
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35'),
 (4, 'Harmony Simmons', '4000', '42')]

In [37]:
sql = "DELETE FROM employees WHERE age = '42'"
cursor.execute(sql)
conn.commit()

In [39]:
sql = "SELECT rowid, * FROM employees ORDER BY age"
cursor.execute(sql)
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35')]

In [40]:
sql = """
UPDATE employees 
SET salary$ = '7000' 
WHERE age = '25'
"""
cursor.execute(sql)
conn.commit()

In [41]:
sql1 = """
UPDATE employees 
SET salary$ = '4000' 
WHERE age = '29'
"""
cursor.execute(sql1)
conn.commit()

In [42]:
sql = "SELECT rowid, * FROM employees ORDER BY age"
cursor.execute(sql)
cursor.fetchall()

[(2, 'Marie Paige', '7000', '25'),
 (3, 'Megan Flores', '4000', '29'),
 (1, 'John Doe', '5000', '35')]